@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container-logo {
    width: 100%;
    height: 62px;
    position: fixed;
    background-color: #604829;
    z-index: 1;
}

nav {
    position: fixed;
    top: 15px;
    right: 140px;
    font-family: "Oswald", sans-serif;
}

.img-logo {
    position: fixed;
    left: 200px;
    width: 70px;
    height: 70px;
    top: -5px;

}

a {
    color: #aa9767;
    margin: 0 12px;
    font-size: 17px;
    text-shadow: 2px 3px black;
    text-decoration: none;
    font-weight: 700;

}

#banner {
    background-image: url("assets/parallax-imagem1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-family: 'Fraunces', serif;
    position: absolute;
    bottom: 40%;
    left: 15%;
    color: #fff;
    font-size: 63px;
    text-align: center;
    font-weight: 400;
}

.informacoes h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #aa9767;
    text-align: center;
    margin: 20px 0;
    padding: 40px 0 0 0;
}

.textos-secoes {
    max-width: 900px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: auto;
    line-height: 30px;
    padding-bottom: 60px;

}

.section-2 {
    background-image: url(assets/parallax-imagem2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;

}

.texto-img {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: italic;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: #604829;
    border: 6px solid #604829;
    border-radius: 50px;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 140px;
}

.section-3 {
    background-image: url(assets/parallax-imagem3.jpg);
    background-attachment: fixed;
    height: 50vh;
}

.texto-img4 {
    font-family: 'Fraunces', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #604829;
    border: 6px solid #604829;
    border-radius: 50px;
    font-size: 30px;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

.section-4 {
    background-image: url(assets/parallax-imagem4.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


iframe {
    display: flex;
    align-items: center;
    position: relative;
    top: 90px;
    width: 700px;
    height: 300px;
    margin: auto;
}

.texto-contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #604829;
    color: white;
    position: relative;
    width: 500px;
    height: 30px;
    margin: auto;
    top: 130px;
    text-shadow: 0px 6px 8px #000000
}


.horarios {
    background-image: url(assets/cafeteria.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.lista {

    left: 32%;
    color: white;
    max-width: 768px;
    font-family: "Oswald", sans-serif;
    margin: 0 auto;
    list-style: none;
    right: 0;
    left: 0;
}

.horarios .texto-cafeteria {
    font-family: "Oswald", sans-serif;
    position: relative;
    text-align: center;
    top: 100px;
    color: white;
    font-weight: normal;
    padding: 2px 50px;
    font-size: 30px;
    height: 100px;
    letter-spacing: 8px;
}

.lista li {
    position: relative;
    max-height: 50px;
    top: 100px;
}

.lista li h3 {
    position: relative;
    color: #fff;
    font-size: 20px;
    top: 10px;
}

.lista li div {
    width: 70%;
    height: 1px;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #ACACAC
}

.direita {
    position: relative;
    left: 690px;
    bottom: 20px;
}

span {
    color: #604829;
    font-weight: bold;
    font-size: 18px;
}

.rodape {
    background-color: #000000;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    padding: 20px 0;
    letter-spacing: 2px;
}

p {
    padding: 5px;
}

.seta {
    margin: 0;
}

.rodape a {
    display: inline-block;
    position: absolute;
    bottom: 70px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #c4a47c;
    background-image: url("assets/seta-para-cima.png");
    border-radius: 4px;
}